.title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5em;
  color: whitesmoke;
  text-align: center;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.fight-container {
  text-align: center;
}
.initial-select {
  font-size: 1.5em;
  color: whitesmoke;
  text-align: center;
}

.choose-character {
  text-align: center;
}

.fighter {
  font-size: 1.3em;
  color: whitesmoke;
}

.fight-section {
  font-size: 1.3em;
  color: whitesmoke;
}

.opponent-attack {
  font-size: 1.3em;
  color: whitesmoke;
}

.attack {
  font-size: 1.3em;
  background-color: red;
  font-weight: bold;
  color: black;
}

.your-fighter {
  width: 190px;
  height: 160px;
}

.character {
  display: inline-block;
  cursor: pointer;
  background-color: lightgray;
  border-color: rgb(77, 76, 76);
  border-style: solid;
  border-width: 3px;
  margin: 3px;
}

.character-image {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.character-name {
  text-align: center;
}

.character-health {
  text-align: center; 
}

.other-Opponents{
  font-size: 1.3em;
  color: whitesmoke;
  margin: 3px;
}

.other-Opponents .character {
  display: inline-block;
  cursor: pointer;
  background-color: rgb(65, 76, 78);
  border-color: rgb(77, 76, 76);
  border-style: solid;
  border-width: 1px;
}

.opponent {
  display: inline-block;
  cursor: pointer;
  background-color: rgb(65, 76, 78);
  border-color: rgb(77, 76, 76);
  border-style: solid;
  border-width: 1px;
}

.opponent-attack .character {
  color: white;
  background-color: rgb(65, 76, 78);
}

.target-opponent {
  color: white;
  background-color: red;
}

.endMessage {
  font-size: 2.5em;
  font-weight: bold;
  color: red;
}
#game-message {
  font-size: 1em;
  color: whitesmoke;
  /* text-shadow: 2px 2px 4px red; */
  font-weight: bold; 
  background-color: rgb(65, 76, 78);
  text-align: center
}
#restart-button {
  visibility: hidden;
  font-size: 1.3em;
  font-weight: bold;
}

.end-game-notes {
  text-align: center;
  text-shadow: 2px 2px 4px whitesmoke;
}


