.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    color: antiquewhite;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

img {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.initial-select {
  font-size: 2em;
  color: antiquewhite;
}

.fighter {
    font-size: 1.3em;
    color: antiquewhite;
}

.fight-section {
    font-size: 1.3em;
    color: antiquewhite;
}

.opponet-attack {
    font-size: 1.3em;
    color: antiquewhite;
}

.attack {
    font-size: 1.3em;
}

.your-fighter {
    width: 190px;
    height: 160px;
}

.character {
  display: inline-block;
  cursor: pointer;
  background-color: lightgray;
  border-color: rgb(77, 76, 76);
  border-style: solid;
  border-width: 3px;
  margin: 5px;
}

.character-image {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.character-name {
  text-align: center;
  
}

.character-health {
  text-align: center;
  
}

.other-Opponents{
    font-size: 1.3em;
    color: antiquewhite;
    margin: 5px;
}

.other-Opponents .character {
  display: inline-block;
  cursor: pointer;
  background-color: rgb(65, 76, 78);
  border-color: rgb(77, 76, 76);
  border-style: solid;
  border-width: 1px;
}

.opponent {
  display: inline-block;
  cursor: pointer;
  background-color: rgb(65, 76, 78);
  border-color: rgb(77, 76, 76);
  border-style: solid;
  border-width: 1px;
}

.opponent-attack .character {
  color: white;
  background-color: rgb(65, 76, 78);
}

.target-opponent {
  color: white;
  background-color: red;
}

.endMessage {
  font-size: 2em;
  color: red;
}
#game-message {
    font-size: 1em;
    color: red;
    font-weight: bold; 
}
#restart-button {
  visibility: hidden;
  font-size: 1.3em;
}


